USE [Calendar]
GO
/****** Object:  Table [dbo].[DONVI]    Script Date: 01/08/2021 3:32:09 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DONVI](
	[ID_DON_VI] [decimal](18, 0) IDENTITY(1,1) NOT NULL,
	[MA_DON_VI] [varchar](10) NOT NULL,
	[TEN_DON_VI] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_DON_VI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LICHLAMVIEC]    Script Date: 01/08/2021 3:32:09 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LICHLAMVIEC](
	[ID_LICH_LAM_VIEC] [decimal](18, 0) IDENTITY(1,1) NOT NULL,
	[NGAY_BAT_DAU] [date] NOT NULL,
	[GIO_BAT_DAU] [time](7) NOT NULL,
	[NGAY_KET_THUC] [date] NOT NULL,
	[GIO_KET_THUC] [time](7) NOT NULL,
	[NOI_DUNG] [nvarchar](200) NULL,
	[THANH_PHAN] [nvarchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_LICH_LAM_VIEC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 01/08/2021 3:32:09 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[ID_NHAN_VIEN] [decimal](18, 0) IDENTITY(1,1) NOT NULL,
	[MA_NHAN_VIEN] [varchar](30) NOT NULL,
	[HO_TEN] [nvarchar](50) NOT NULL,
	[SDT] [numeric](18, 0) NULL,
	[NGAY_SINH] [date] NULL,
	[DIA_CHI] [nvarchar](100) NULL,
	[USERNAME] [varchar](20) NULL,
	[PASSWORD] [varchar](10) NULL,
	[ID_DON_VI] [decimal](18, 0) NULL,
	[ID_VAI_TRO] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_NHAN_VIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[THANH_PHAN_THAM_DU]    Script Date: 01/08/2021 3:32:09 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[THANH_PHAN_THAM_DU](
	[ID_LICH_LAM_VIEC] [decimal](18, 0) NOT NULL,
	[ID_NHAN_VIEN] [decimal](18, 0) NOT NULL,
	[MAC_DINH] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_LICH_LAM_VIEC] ASC,
	[ID_NHAN_VIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[VAITRO]    Script Date: 01/08/2021 3:32:09 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VAITRO](
	[ID_VAI_TRO] [decimal](18, 0) IDENTITY(1,1) NOT NULL,
	[TEN_VAI_TRO] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_VAI_TRO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD FOREIGN KEY([ID_DON_VI])
REFERENCES [dbo].[DONVI] ([ID_DON_VI])
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD FOREIGN KEY([ID_VAI_TRO])
REFERENCES [dbo].[VAITRO] ([ID_VAI_TRO])
GO
ALTER TABLE [dbo].[THANH_PHAN_THAM_DU]  WITH CHECK ADD FOREIGN KEY([ID_LICH_LAM_VIEC])
REFERENCES [dbo].[LICHLAMVIEC] ([ID_LICH_LAM_VIEC])
GO
ALTER TABLE [dbo].[THANH_PHAN_THAM_DU]  WITH CHECK ADD FOREIGN KEY([ID_NHAN_VIEN])
REFERENCES [dbo].[NHANVIEN] ([ID_NHAN_VIEN])
GO

-- Insert Don Vi
INSERT INTO dbo.DONVI
        ( MA_DON_VI, TEN_DON_VI )
VALUES  ( 'DV001', -- MA_DON_VI - varchar(10)
          N'Phòng công tác dịch vụ A'  -- TEN_DON_VI - nvarchar(30)
          )

INSERT INTO dbo.DONVI
        ( MA_DON_VI, TEN_DON_VI )
VALUES  ( 'DV002', -- MA_DON_VI - varchar(10)
          N'Phòng tổ chức sự kiện C'  -- TEN_DON_VI - nvarchar(30)
          )

INSERT INTO dbo.DONVI
        ( MA_DON_VI, TEN_DON_VI )
VALUES  ( 'DV003', -- MA_DON_VI - varchar(10)
          N'Phòng kỹ thuật thông tin F'  -- TEN_DON_VI - nvarchar(30)
          )


-- Insert Vai Tro

INSERT INTO dbo.VAITRO
        ( TEN_VAI_TRO )
VALUES  ( N'Phó phòng'  -- TEN_VAI_TRO - nvarchar(30)
          )

INSERT INTO dbo.VAITRO
        ( TEN_VAI_TRO )
VALUES  ( N'Trưởng phòng'  -- TEN_VAI_TRO - nvarchar(30)
          )

INSERT INTO dbo.VAITRO
        ( TEN_VAI_TRO )
VALUES  ( N'Nhân viên'  -- TEN_VAI_TRO - nvarchar(30)
          )